# Saudi Arabia Weather Forcasting:
_Auther: Esraa Madi_


-------

In [2]:
# import libs
import pandas as pd
import pickle

In [4]:
# load cleaned data 
infile = open('datasets/clean_cities_dataset','rb')
df_cities_lst = pickle.load(infile)
cities = pickle.load(infile)
infile.close()

In [6]:
# check some data
df_cities_lst[0].head()

,barometer,humidity,temp,visibility,wind,city,weather
2017-01-01 00:00:00,1018.0,64.0,17.0,16.0,11.0,Qassim,Clear
2017-01-01 03:00:00,1018.0,64.0,17.0,16.0,11.0,Qassim,Clear
2017-01-01 06:00:00,1018.0,64.0,17.0,16.0,11.0,Qassim,Clear
2017-01-01 09:00:00,1018.0,64.0,17.0,16.0,11.0,Qassim,Clear
2017-01-01 12:00:00,1018.0,64.0,17.0,16.0,11.0,Qassim,Clear

In [7]:
cities

['Qassim',
 'Hail',
 'Madina',
 'EP',
 'Riyadh',
 'Mecca',
 'Tabuk',
 'Assir',
 'Northern boarder',
 'Jazan',
 'Najran',
 'Baha',
 'Jawf']